rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function keysSimilar() {
        return request.resource.data.keys().hasAll(resource.data.keys()) || resource.data.keys().hasAll(request.resource.data.keys());
    }
    function keysIdentical() {
        return request.resource.data.keys() == resource.data.keys();
    }
  	match /configuration/admin/{document=**} {
    	allow read: if request.auth != null;
        allow update: if request.resource.data.keys() == resource.data.keys() && request.resource.data.debug_data == resource.data.debug_data;
    }
    match /configuration/discord_elements/{document=**} {
    	allow read: if request.auth != null;
    }
    match /configuration/ticket_overrides/{document=**} {
    	allow read: if request.auth != null;
    }
    match /game_data/players/{document=**} {
    	allow read: if request.auth != null;
        allow update: if request.auth != null && keysSimilar();
    }
    match /keyword_to_emoji_ids/{document=**} {
    	allow read: if request.auth != null;
    }
    match /tickets/authors/{document=**} {
    	allow read: if request.auth != null;
        allow update: if request.auth != null && keysSimilar();
    }
    match /members/command_bans/{document=**} {
    	allow read: if request.auth != null;
        allow update: if request.auth != null && keysSimilar();
    }
    match /members/silences/{document=**} {
    	allow read: if request.auth != null;
        allow update: if request.auth != null && keysSimilar();
    }
    match /job_data/patch_notes_scraper/{document=**} {
        allow read: if request.auth != null;
        allow update: if request.auth != null && keysSimilar();
    }
    match /job_data/youtube_scraper/{document=**} {
        allow read: if request.auth != null;
        allow update: if request.auth != null && keysIdentical();
    }
  }
}